@import services.actor.DevApp.SourcePath

@(titem:SourcePath)


    @if(titem.isFile){
    <li>
    	<a href="#">
    		<span data-spath="@titem.rpath" style="white-space:nowrap;" data-treenode="leaf">
    			<i class="icon-calendar"></i>
    			@titem.fname
    		</span>
    	</a>
    </li>
    } else {
    <li>
    	<span data-spath="@titem.rpath" class="context-menu-tree" style="white-space:nowrap;" data-treenode="node">
    		<i class="icon-calendar"></i>
    		@titem.fname
    	</span>
        <ul class="@titem.fname"></ul>
    </li>
}
