@import models.viewparam.MainTempateArguments
@(implicit primaryTempConfig:MainTempateArguments)

@views.html.maintempl{
@*<script src="assets/lib/bootstrap/js/bootstrap.js"></script>*@

<div ng-app="CodeEditor" ng-controller="EditorController" ng-init="loadDefaultCodeFile()">
	<form class="form-inline" role="form">
	  <div class="form-group">
	    <label><i class="fa fa-globe"></i> State</label>
	    <input type="text" class="form-control" ng-model="selectedState" data-min-length="0" 
	    bs-options="scode[0] for scode in popupScodeFiles" placeholder="Enter state" bs-typeahead>
	  </div>
	  <hr>
	</form>
</div>
}