@import models.viewparam.MainTempateArguments
@(implicit primaryTempConfig:MainTempateArguments, projName:String)

@views.html.maintempl{

<div> <!-- ng-app="CodeEditor" ng-controller="EditorController" ng-init="loadDefaultCodeFile()" -->
	<!-- navigation title bar  -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- navigation bar content -->
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Edit @projName</a>
			</div>
<!-- 
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="selectedScode" data-min-length="0"
					bs-options="scode[0] for scode in popupScodeFiles" style="outline:none;"
					placeholder="查找源码" bs-typeahead>
					<button type="button" class="btn btn-primary" style="outline:none" ng-click="reload()">load</button>
					<button type="button" class="btn btn-success" style="outline:none" ng-click="save()">save</button>
					<button type="button" class="btn btn-primary" style="outline:none"
						data-template-url="/view/cmphello" bs-modal="modal" data-animation="am-fade-and-slide-top"
						 >modal</button> 
				</div>
			</form>
-->			
		</div>
	</div>

	<!-- content -->
	<div class="template-page-wrapper">
		<!-- left side bar  -->
		<div class="navbar-collapse collapse templatemo-sidebar"> <!--  -->
			<!-- tree view for select file to edit -->
			<div id="divFileStruct" class="tree" style="width: 260px;">
			</div>
		</div>
		<!-- code edit area -->
		<div id="divEditorContainer" style="position: absolute; bottom: 0px; top: 50px; right:0px; left: 260px;">
			<style type="text/css">
				.CodeMirror {
					height: 100%;
				}
			</style>
			<textarea id="txaEditor" style="display: none;">
			</textarea>
		</div>
	</div>
</div>

}