@import models.viewparam.MainTempateArguments
@(implicit primaryTempConfig:MainTempateArguments,
		cmtype:String,
		fileContent:String,
		fullPath:String,
		fname:String = "")

@views.html.maintempl{

<div ng-app="CodeEditor" ng-controller="EditorController" ng-init="loadDefaultCodeFile()">

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Edit @fname</a>
			</div>

			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="selectedScode" data-min-length="0"
					bs-options="scode[0] for scode in popupScodeFiles" style="outline:none;"
					placeholder="查找源码" bs-typeahead>
					<button type="button" class="btn btn-primary" style="outline:none" ng-click="reload()">load</button>
					<button type="button" class="btn btn-success" style="outline:none" ng-click="save()">save</button>
					<button type="button" class="btn btn-primary" style="outline:none"
						data-template-url="/view/cmphello" bs-modal="modal" data-animation="am-fade-and-slide-top"
						 >modal</button> 
						 <!-- ng-click="showModel()" -->
				</div>
			</form>
		</div>
	</div>

		<!--<div style="padding-top: 50px;">  navbar-collapse collapse templatemo-sidebar -->
	<div class="template-page-wrapper">
		<div class="navbar-collapse collapse templatemo-sidebar " >
			<div class="tree" style="width: 235px;" > <!-- style="background-color: #4D344A" -->
			<ul>
				<li >
					<span><i class="icon-calendar"></i> controllers</span>
					<ul>
						<li >
							<span class="badge badge-success"><i class="icon-minus-sign">somepackageone</i></span>
							<ul>
								<li>
									<a href=""><span><i class="icon-time">FirstController.scala</i> </span></a>
								</li>
							</ul>
						</li>
						<li>
							<span class="badge badge-success"><i class="icon-minus-sign">somepackagetwo</i></span>
							<ul>
								<li>
									<span><i class="icon-time"></i>EditorController.scala</span><a href=""></a>
								</li>
								<li>
									<span><i class="icon-time"></i> Application.scala</span><a href=""></a>
								</li>
							</ul>
						</li>
						<li>
							<span class="badge badge-warning"><i class="icon-minus-sign"></i>app</span>
							<ul>
								<li>
									<a href=""><span><i class="icon-time"></i>package.scala</span></a>
								</li>
								<li>
									<a href=""><span><i class="icon-time"></i>SeipwerRequestInfo.scala</span></a>
								</li>
							</ul>
						</li>
						<li>
							<span class="badge badge-important"><i class="icon-minus-sign"></i> Wednesday, January 9: 4.00 hours</span>
							<ul>
								<li>
									<a href=""><span><i class="icon-time"></i> 2.00</span> &ndash; Create component that...</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<span><i class="icon-calendar"></i> 2013, Week 3</span>
					<ul >
						<li>
							<span class="badge badge-success"><i class="icon-minus-sign"></i> Monday, January 14: 8.00 hours</span>
							<ul >
								<li>
									<span><i class="icon-time"></i> 7.75</span> &ndash; <a href="">Writing documentation...</a>
								</li>
								<li>
									<span><i class="icon-time"></i> 0.25</span> &ndash; <a href="">Reverting code back to...</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			</div>
			<script type="text/javascript">
					$(function(){
//						console.log($('.tree li:has(ul)'));
						$('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
						$('.tree li.parent_li > span').on('click', function (e) {
							var children = $(this).parent('li.parent_li').find(' > ul > li');
							if (children.is(":visible")) {
								children.hide('fast');
								$(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
							} else {
								children.show('fast');
								$(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
							}
							e.stopPropagation();
						});
					});
			</script>
		</div>



		<div class="templatemo-content-wrapper">
			<div class="templatemo-content">

				<div id="divEditorContainer" style="height: 650px; width: 100%;"> <!--  -->
					<style type="text/css">
					.CodeMirror {
					height: 100%;
					}
					</style>
					<textarea id="txaEditor" style="display: none;" data-cmtype="@cmtype" data-mpath="@fullPath">
					@fileContent
					</textarea>
				</div>

				@*<div></div>*@

			</div>
		</div>


	</div> <!--  -->
</div>
}