<div class="tree" style="width: 260px; padding-left: 0px;" ng-init="treeAdded()"> <!-- style="background-color: #4D344A" -->
    <ul>
        <li>
            <span><i class="icon-calendar"></i> controllers</span>
            <ul>
                <li >
                    <span><i class="icon-minus-sign">somepackageone</i></span>
                    <ul>
                        <li>
                            <a href=""><span><i class="icon-time">FirstController.scala</i> </span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="icon-minus-sign">somepackagetwo</i></span>
                    <ul>
                        <li>
                            <a href=""><span><i class="icon-time"></i>EditorController.scala</span></a>
                        </li>
                        <li>
                            <a href=""><span><i class="icon-time"></i> Application.scala</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="icon-minus-sign"></i>app</span>
                    <ul>
                        <li>
                            <a href=""><span><i class="icon-time"></i>package.scala</span></a>
                        </li>
                        <li>
                            <a href=""><span><i class="icon-time"></i>SeipwerRequestInfo.scala</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="icon-minus-sign"></i> public</span>
                    <ul><!--
								<li>
									<a href=""><span><i class="icon-time"></i> ProjOnH2Actor.scala</span></a>
								</li> -->
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="icon-calendar"></i>com</span>
            <ul >
                <li>
                    <span><i class="icon-minus-sign"></i>marco</span>
                    <ul >
                        <li>
                            <span><i class="icon-minus-sign"></i>server</span>
                            <ul>
                                <li>
                                    <span><i class="icon-minus-sign"></i>server</span>
                                    <ul>
                                        <li>
                                            <span><i class="icon-minus-sign"></i>ideui</span>
                                            <ul>
                                                <li>
                                                    <a href=""><span><i class="icon-time"></i> codeereditorfull.scala.html</span></a>
                                                </li>
                                                <li>
                                                    <a href=""><span><i class="icon-time"></i> RunningStdLog.scala</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><span><i class="icon-time"></i>DevApp.scala</span></a>
                        </li>
                        <li>
                            <a href=""><span><i class="icon-time"></i>SwiperToolController.scala</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>